<h1>Sample#index</h1>
<p>Hey, im here me in app/views/sample/index.html.erb</p>

<%= image_tag "SAM.png", style:"height: 10em; display: flex; align-items: center;" %>

<img src="<%= asset_path "SAM.png" %>">

<a href="<%= asset_path "SAM.png" %>">text</a>


<%= link_to image_tag('dog.jpg'), 'http://google.com' %>


